@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=PT+Sans&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

.column1F {
    float: left;
    width: 55%;
    height: 100vh;
}

.column2F {
    float: left;
    width: 40%;
    height: 100vh;
    padding-left: 9%;
    padding-right: 9%;
    font-family: 'PT Sans', sans-serif;
    color: #1a6ae4;
}

.formF {
    margin-top: 5%;
}

.forget-password-F {
    color: #114DA9;
    margin-top: 41%;
    margin-bottom: 15%;
}
