@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=PT+Sans&family=Roboto&display=swap');
.header-container {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); /* Add shadow to the bottom */
    background-color: #fff;  
}

.user{
    width: 5%;
    margin: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.user-name{
    font-size: 15px;
    font-weight: 600;
}

.notification{
    width: 4%;
    margin: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
}